@import '../styles/colors';

.regionInfo{
    height: 30.875rem;
    background: no-repeat center;
    background-size: 100%;


    div{
        width: 100%;
        padding: 4rem;
        margin: 0 auto;
        height: 100%;
        

        display: flex;
        align-items: flex-end;

        h1{
            color: $white;
            font-size: 3rem;
            font-family: 'Poppins' sans-serif;
            font-weight: 400;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
        }      
        
    }
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
    gap: 5rem;
    margin-bottom: 4.5rem;

    .contentInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 85rem;
        gap: 1rem;
        
            .description{
                text-align: justify;
                width: 34.5rem;
            }

    }

    p, span{
        font-size: 1.25 rem;
        font-family: 'Montserrat' sans-serif;
    }

    .regionCities, .regionStates, .regionPopulation{
        font-size: 2.5rem;
        font-weight: 400;
    }


    
}

.cityList{
    display: flex;
    width: 85rem;
    flex-direction: column;
    justify-content: center;
    
    padding: 5rem 4rem;
    gap: 5rem;
  
   

    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        overflow-x: auto;

        li{
            background-color: $white;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            overflow: hidden;
            min-width: 17rem;
            
            img{
                height: 6.25rem;
                width: 100%;
                object-fit: cover;
            }

            >div{
                padding: 1rem;

                h4{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1rem;
                }

                .cityInfo{
                    display: flex;
                    justify-content: space-around;
                    
                    p{
                        display: flex;
                        font-size: 0.75rem;
                        color: $gray-700;
                    }
                }

            }


        }
    }

}

