@import '../styles/colors';

footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    width: 100%;
    background-color: $green-800;


    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 14.125rem;
        width: 85rem;


        span {
            font-weight: bold;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
    }

    img {
        transition: transform 0.2s;
        width: 3.5em;
        height: 3.5rem;

    }

    img:hover {
        transform: scale(1.2);


    }

    @media screen and (max-width: 1147px){
        .footer{
            padding: 3rem;
            justify-content: space-around;
            flex-direction: column;
        }
    }



}