@import '../styles/colors';

.regionContainer {
    transition: transform .2s;

    .regionCard:hover {
        transform: scale(1.01);
    }

    .regionCard {        
        border-radius: 12px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 0.5);
        height: 20rem;
        width: 35rem;
        margin-bottom: 1rem;
        background-color: rgb(255, 255, 255);
        transition: transform .2s;
        cursor: pointer;

        .regionCard:hover {
            transform: scale(1.5);
        }

        .regionContent {
            display: flex;
            width: 85rem;
            flex-direction: column;
            align-items: flex-start;
            padding: 2rem;

            h4 {
                font-size: x-large;
                font-weight: 500;
            }

            span {
                cursor: pointer;
                color: $green-500;
            }
        }

        h2 {
            margin: 0.438rem 0.813rem;
        }

        img {
            width: 35rem;
            height: 10rem;
        }
    }

}