@import '../styles/colors';

.regionInfo {
    height: 30.875rem;
    background: no-repeat center;
    background-size: 100%;


    div {
        width: 100%;
        padding: 4rem;
        margin: 0 auto;
        height: 100%;


        display: flex;
        align-items: flex-end;

        h1 {
            color: $white;
            font-size: 3rem;
            font-family: 'Poppins' sans-serif;
            font-weight: 400;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
        }

    }
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
    gap: 5rem;
    margin-bottom: 4.5rem;

    .contentInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 85rem;
        gap: 1rem;

        >ul {
            display: flex;
            flex: 1;

            justify-content: space-around;

            list-style: none;


            li {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {

                    font-size: 2.5rem;
                    font-weight: 600;
                    color: $green-700;
                }
            }
        }


        .description {
            text-align: justify;
            width: 34.5rem;
            word-break: break-all;
        }

    }

    p,
    span {

        font-size: 1.25 rem;
        font-family: 'Montserrat' sans-serif;
    }
}

.cityList {
    display: flex;
    width: 85rem;
    flex-direction: column;
    justify-content: center;

    padding: 5rem 4rem;
    gap: 5rem;



    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        overflow-x: auto;


    }

}